<template>
  <div id="app">
    <div v-if="booting" class="booting">
      <b-loading
        :is-full-page="true"
        :active.sync="booting"
        :can-cancel="false"
      />
    </div>
    <component :is="layout" v-else>
      <router-view />
    </component>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState('common', ['booting', 'globalLoading']),
    layout() {
      return (this.$route.meta.layout || 'default') + '-layout'
    }
  }
}
</script>
