/**
Margin and padding helpers
 */
$spaceamounts: (
  5,
  10,
  15,
  20,
  25,
  30,
  35,
  40,
  45,
  50,
  75,
  100
); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .m-#{$space} {
      margin: #{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }

    .p-#{$space} {
      padding: #{$space}px !important;
    }
  }
}
#app {
  .columns {
    margin: 0;
  }
}
.main-title {
  font-family: Perpetua, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.sub-title {
  font-size: 24px;
  font-weight: bold;
  color: $light;
  margin: 20px 0 0 0;
}

hr {
  margin: 1.2rem 0;
  background-color: #e4e4e4;
  height: 1px;
}

.logo-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  hr {
    flex: 1;
  }
  img {
    height: 40px;
    padding: 0 71px;
  }
}
