.b-table {
  .table-wrapper {
    border-bottom: 1px solid $light;
    .table {
      thead {
        background-color: $primary;
        color: #fff;
      }
      th {
        padding: 15px;
        color: #fff;
        border: 0;
      }
    }
    tbody {
      tr:nth-of-type(2n - 1) {
        background-color: lighten($light, 15%);
        &.is-empty {
          background-color: transparent;
          .section {
            padding: 1.5rem 1.5rem;
          }
        }
      }
      td {
        border: 0;
        vertical-align: middle;
      }
      .button-container {
        button {
          padding: 10px 20px;
        }
      }
    }
  }
}
.pagination-container {
  padding: 20px;
  border-bottom: 1px solid $light;
  display: flex;
  align-items: center;
  justify-content: center;
}
