body {
  font-family: $family-primary;
}

@media screen and (max-width: $tablet) {
  .container {
    margin: inherit;
  }

  .navbar .logo,
  .footer .logo {
    display: none;
  }
}

.booting {
  height: 100vh;
  flex: 1;
  background-image: url('/assets/images/background.jpg');
  background-size: cover;
}

.header {
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  position: relative;

  .navbar-wrapper {
    position: relative;
    background-color: $primary;
  }

  a.navbar-item {
    color: $white;
    font-size: 15px;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 14px 40px;
    opacity: 0.7;

    &:focus,
    &:hover,
    &.is-active {
      opacity: inherit;
      border: inset 0;
      border-top: 2px solid $success;
      background-color: transparent !important;
      margin-top: 0;
    }
  }

  .navbar-item-icon {
    background-color: $white;
    margin-left: 20px;

    img {
      height: auto;
      width: 100%;
    }
  }

  .logo {
    background-color: $primary;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 228px;
    width: 185px;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-burger {
    color: $white;
  }

  .hero-body {
    .container {
      margin-top: -50px;
    }

    .title,
    .subtitle,
    .title-second {
      color: $white;
      text-align: right;
    }

    .title {
      font-size: 42px;
      margin-bottom: 20px;

      strong {
        font-weight: bold;
      }
    }

    .subtitle {
      font-size: 24px;
      text-transform: uppercase;
    }
  }

  @media screen and (max-width: $desktop) {
    > .container {
      margin: inherit;
    }

    .logo {
      display: none;
    }
  }

  .ribbon {
    position: absolute;
    top: 60%;
    left: 0;
    display: flex;

    .ribbon-label {
      background-color: $white;
      padding: 20px 20px 20px 52px;
      color: $primary;
      font-size: 24px;
      font-weight: bold;
      box-shadow: 1px 3px 0 3px $primary;
    }

    .ribbon-triangle {
      position: relative;

      .ribbon-triangle-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-width: 76px 70px 0 0;
        border-color: $white transparent transparent transparent;
        border-style: solid;
        z-index: 2;
      }

      .ribbon-triangle-shadow {
        top: 6px;
        left: 4px;
        border-color: $primary transparent transparent transparent;
        z-index: 1;
      }
    }
  }
}

.button {
  height: auto;
  border-radius: 0;
  text-transform: uppercase;
  border: none;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  padding: 1rem;

  &.is-success {
    background-image: $green-button;
    background-color: none;
    &:hover {
      background-image: $green-button-hover;
      color: rgba(0, 0, 0, 0.7);
    }
    &:active {
      background-image: $green-button-active;
    }
  }

  &.is-light {
    color: $white;
  }
}

.leftProfileMenu {
  > li {
    &:last-child > a {
      color: $light;
    }
    //border-top: 1px solid rgba($secondary, 0.5);
  }
}

.input {
  padding: 1.25rem;
}

.select select {
  height: 42px;
}

.select:not(.is-multiple):not(.is-loading)::after {
  top: 22px;
}

.select,
.select select {
  max-width: 100%;
  width: 100%;
}

.field {
  .label {
    font-weight: normal;
    &:after {
      content: ' :';
    }
  }

  &[required='required'] {
    .label {
      &:after {
        content: '* :';
      }
    }
  }

  label {
    color: $primary;

    .control-label {
      color: $black;
    }
  }
}

.password-forgot {
  text-transform: initial;
  padding: 10px;
  position: absolute;
  right: 20px;

  &:hover {
    background-color: transparent;
  }
}

#empty {
  .card-content {
    .title {
        font-family: $family-secondary;
        text-transform: uppercase;
    }
  }
}

.status {
  font-weight: bold;
}

div.status {
  color: $white;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 5px;

  &.pending {
    background-color: $primary;
  }
  &.published {
    background-color: $success;
  }
  &.refused {
    background-color: $danger;
  }
  &.draft {
    background-color: $light;
    color: $black;
  }
  &.expired {
    background-color: $warning;
  }
}

span.status {
  &.pending {
    color: $primary;
  }
  &.published, &.validated {
    color: $success;
  }
  &.refused {
    color: $danger;
  }
  &.draft {
    color: $light;
  }
  &.expired {
    color: $warning;
  }
}
