@import '~bulma/sass/utilities/_all';

// Sizes
$font-size: 16px;
$header-height: 80px;

// Set your colors
$primary: #003a56;
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);
$danger: #D52B1E;
$danger-invert: findColorInvert($danger);
$light: #c8c8c8;
$light-invert: findColorInvert($light);
$color-gold: #f3bb45;
$color-light-primary: #466c7e;
$black: hsl(0, 0%, 4%);
$white: hsl(0, 0%, 100%);
$black-invert: $white;
$white-invert: $black;
$warning: #d2af24;
$warning-invert: findColorInvert($warning);


// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  'white': (
    $white,
    $black
  ),
  'black': (
    $black,
    $white
  ),
  'light': (
    $light,
    $light-invert
  ),
  'dark': (
    $dark,
    $dark-invert
  ),
  'primary': (
    $primary,
    $primary-invert
  ),
  'info': (
    $info,
    $info-invert
  ),
  'success': (
    $success,
    $success-invert
  ),
  'warning': (
    $warning,
    $warning-invert
  ),
  'danger': (
    $danger,
    $danger-invert
  ),
  'twitter': (
    $twitter,
    $twitter-invert
  )
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$green-button: linear-gradient(103deg, #81fbb8, #28c76f);
$green-button-hover: linear-gradient(103deg, #b1f8d1, #52c586);
$green-button-active: linear-gradient(103deg, #4bf798, #11c763);
$family-primary: 'Muli', sans-serif;
$family-secondary: 'Perpetua', sans-serif;

$text: $primary;
