// Font
@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i&display=swap');
@import url('~vue-ionicons/ionicons.scss');

@font-face {
    font-family: "Georgia";
    src: url('../assets/fonts/Georgia.ttf');
}
@font-face {
    font-family: "Georgia";
    src: url('../assets/fonts/Georgia Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: "Georgia";
    src: url('../assets/fonts/Georgia Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: "Perpetua";
    src: url('../assets/fonts/PerpetuaTitlingMTLight2.ttf');
}
@font-face {
    font-family: "Perpetua";
    src: url('../assets/fonts/pertibd.ttf');
    font-weight: bold;
}

// Variables
@import 'variables';

// Global Theme
@import 'helpers';
@import 'theme';
@import 'aside';
@import 'header';
@import 'table';
@import 'animate';

