// Required variable
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import 'variables';
$--color-primary: $primary;
$--color-success: $success;
$--color-warning: $warning;
$--color-danger: $danger;

@import '~element-ui/packages/theme-chalk/src/index';
