<template>
  <div class="privacy">
    <h1 class="main-title">Privacy policy</h1>
    <separator></separator>

    <p>
      <b>
        This policy sets out the way in which Ecole polytechnique collects, uses
        and protects your personal data, if you are a person working in startups
        and/or contracting companies which use the X-Perks platform</b
      >, in accordance with Regulation (EU) 2016/679 of the European Parliament
      and of the Council of 27 April 2016 on the protection of natural persons
      with regard to the processing of personal data and on the free movement of
      such data, also known as the General Data Protection Regulation
      (hereinafter, GDPR), and with the revised French Law of 6 June 1978 on
      Information Technology, Files and Civil Liberties
    </p>

    <h3>
      1. Who is responsible for your data being processed at Ecole polytechnique
      ?
    </h3>

    <p>
      <b>Ecole Polytechnique</b>, established at Route de Saclay, 91128 CEDEX,
      France, and represented by its President Mr. Eric LABAYE, is the legal
      person processing data on behalf of the institution and in the pursuit of
      its activities. <br />
      Contact: +33(0)1 69 33 33 33
    </p>

    <h3>2. What data does Ecole Polytechnique require? How does it use it?</h3>

    <p>
      <b>Ecole Polytechnique processes personal data concerning you</b> which
      can include identity data (name and first name of the X-Perks contact
      person in your company), information relating to your company (name of the
      company, industry sector, password to access the XPerks platform), photos
      (your company’s logo), digital data and contact details (email address and
      telephone number for instance).
    </p>

    <b>Ecole Polytechnique processes your data in order to:</b>
    <ul>
      <li>provide you with a tool to develop your company;</li>
      <li>ascertain which of the Perks you have found most useful;</li>
      <li>
        help you commercialize your product/service on the Perks platform for
        Ecole polytechnique startups;
      </li>
      <li>
        Inform you of news from the Ecole polytechnique Entrepreneurship &
        Innovation Department, by way of communication operations
      </li>
    </ul>

    <h3>
      3. How is your data collected? How does Ecole Polytechnique protect it?
    </h3>

    <p>
      <b>
        Your data is usually collected when you register on the X-Perks
        platform</b
      >. The use of this data is limited to what is required by the Ecole
      Polytechnique X-Perks activities.
    </p>
    <p style="font-weight: bold;">
      Ecole Polytechnique undertakes to ensure access to your data is strictly
      limited to the Department and to ensure that all the persons charged with
      data processing keep the data confidential, in accordance with article 5
      of the GDPR.
    </p>
    <p>
      <b>The length of time that your data is stored by Ecole Polytechnique</b>
      depends on the purpose and use of data and the legal obligations incumbent
      on the institution with regard to data storage.
    </p>

    <h3>
      4. How does Ecole Polytechnique protect your data in the event of the
      latter being transferred to other organizations (service companies,
      academic partners)?
    </h3>

    <p>
      <b>
        Should elements of your data require to be processed by a subcontractor
        outside the institution (the contractor developing the X-Perks platform
        on behalf of the Entrepreneurship & Innovation Department)</b
      >, Ecole Polytechnique undertakes to ensure that the sub-contractor and
      the contractor offer sufficient guarantees as regards the implementation
      of the most appropriate technical and administrative measures to meet the
      requirements of the GDPR, and that the sub-contractor and the contractor
      also guarantee the protection of your data and of your rights.
    </p>

    <h3>
      5. What are your rights at Ecole Polytechnique regarding your data and its
      processing?
    </h3>

    <p style="font-weight: bold">
      In accordance with the GDPR and the revised Law of 6 January 1978 on
      Information Technology, Files and Civil Liberties, you may exercise the
      following rights regarding your personal data:
    </p>

    <ul>
      <li>Right to access your data;</li>
      <li>Right to modify and to delete your data;</li>
      <li>Right to restrict and to object to the processing of your data.</li>
    </ul>

    <p>
      You may exercise these rights by sending an email to the Ecole
      Polytechnique Data Protection Officer:
      <b>dpd@polytechnique.fr</b>. <br />
      In the event of a dispute concerning data processing, you can also file a
      complaint with the French data protection authority, the CNIL, by post,
      email or online:
    </p>

    <p class="address">
      <b>Commission nationale informatique et libertés (CNIL)</b> <br />
      Service des plaintes - 3 Place de Fontenoy - TSA 80715 – 75334 PARIS CEDEX
      07 <br />
      Tel: +33(0)1 53 73 22 22 <br />
      Online complaint form:
      <a href="https://www.cnil.fr/fr/plaintes" target="_blank">
        https://www.cnil.fr/fr/plaintes</a
      >
    </p>
  </div>
</template>

<script>
import Separator from '@/components/Separator.vue'
export default {
  name: 'Privacy',
  components: {
    Separator
  },
  data() {
    return {
      firstname: '',
      lastname: '',
      file: {
        name: 'No file selected..'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~-/_variables.scss';
p,
h3,
ul {
  margin-bottom: 10px;
}

h3 {
  color: #a68b4e;
  font-weight: bold;
  background-color: rgba($light, 0.3);
  font-size: 18px;
  padding: 5px;
}

.address {
  padding: 10px;
  border: 1px solid black;
  text-align: center;

  > a {
    font-weight: bold;
  }
}
</style>
