<template>
  <div>
    <h1 class="main-title">General informations</h1>
    <separator></separator>

    <form action="" class="has-text-left disabled">
      <div class="columns">
        <div class="column">
          <b-field label="Firstname* :">
            <b-input v-model="firstname" />
          </b-field>
        </div>
        <div class="column">
          <b-field label="Lastname* :">
            <b-input v-model="lastname" />
          </b-field>
        </div>
      </div>

      <b-field label="Email address* :">
        <b-input type="email" value="john@" maxlength="30" disabled />
      </b-field>
      <b-field label="Company name* :">
        <b-input value="johnsilver" maxlength="30" disabled />
      </b-field>
      <label class="label" for="">Your logo enterprise :</label>
      <b-field class="file" label="" disabled>
        <span class="file-name">
          {{ file.name }}
        </span>
        <b-upload v-model="file">
          <a class="button is-primary">
            <b-icon icon="upload" />
            <span>Browse..</span>
          </a>
        </b-upload>
      </b-field>

      <b-button size="is-large" class="is-success is-pulled-right">
        SAVE
      </b-button>
    </form>
  </div>
</template>

<script>
import Separator from '@/components/Separator.vue'
export default {
  name: 'Profile',
  components: {
    Separator
  },
  data() {
    return {
      firstname: '',
      lastname: '',
      file: {
        name: 'No file selected..'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.field:not(:last-child) {
  margin: 0.75rem;
}
form.disabled {
  pointer-events: none;
  opacity: 0.5;
  background: #ccc;
  padding: 10px;
}

.file-name {
  border-width: 1px 0 1px 1px;
  border-radius: 0;
  display: flex;
  padding: 1.5rem;
}

.upload {
  padding: 1.5rem;
}
</style>
