<template>
  <div class="perks-list">
    <h1 class="main-title">List of Perks</h1>

    <separator />
    <b-table
      :data="list.data"
      :mobile-cards="true"
      :hoverable="false"
      :loading="perksListLoading || perkStateChangeLoading"
      :focusable="false"
      class="list-table"
    >
      <template slot-scope="props">
        <b-table-column field="status" label="Status">
          <span :class="['status', props.row.status]">
            {{ props.row.status }}
          </span>
        </b-table-column>

        <b-table-column field="name" label="Name of Perk">
          {{ props.row.title }}
        </b-table-column>
        <b-table-column
          field="category"
          label="Categories"
          :title="categoryString"
          class="categories"
        >
          {{ categoryString(props.row.categories) }}
        </b-table-column>

        <b-table-column :width="240" centered label="Actions">
          <div class="button-container">
            <b-button
              type="is-danger"
              size="is-small"
              @click="rejectPerk(props.row)"
            >
              REJECT
            </b-button>
            <b-button
              type="is-success"
              size="is-small"
              @click="validatePerk(props.row)"
            >
              VALIDATE
            </b-button>
            <!--<b-button
              type="is-primary"
              size="is-small"
              @click="goToPerk(props.row)"
            >
              SEE
            </b-button>!-->
            <b-button
              type="is-primary"
              size="is-small"
              @click="goToStats(props.row)"
            >
              STATS
            </b-button>
          </div>
        </b-table-column>
      </template>
      <template slot="empty">
        <section class="section">
          <div class="content has-text-grey has-text-centered">
            <p>No perks available.</p>
          </div>
        </section>
      </template>
    </b-table>
    <div
      v-if="list.meta && list.meta.total > list.meta.per_page"
      class="pagination-container"
    >
      <b-pagination
        :total="list.meta.total"
        :current.sync="list.meta.current_page"
        :range-before="list.meta.from"
        :range-after="list.meta.to"
        :per-page="list.meta.per_page"
        order="is-centered"
        size="is-medium"
        :simple="true"
        :rounded="false"
        icon-prev="icon ion-ios-arrow-back"
        icon-next="icon ion-ios-arrow-forward"
        aria-next-label="Next page"
        aria-previous-label="Previous page"
        aria-page-label="Page"
        aria-current-label="Current page"
        @change="changePage"
      >
      </b-pagination>
    </div>
    <div class="buttons-container">
      <b-button size="is-large" type="is-success" disabled> ADD PERK </b-button>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
import Separator from '@/components/Separator'
import router from '@/router'
export default {
  components: {
    Separator
  },
  computed: {
    ...mapState('perksList', [
      'list',
      'perksListLoading',
      'perkStateChangeLoading'
    ])
  },
  mounted() {
    this.getPerksList({ page: 1 })
  },
  methods: {
    ...mapActions('perksList', ['getPerksList', 'perkStateChange']),
    categoryString(list) {
      let categoryString = ''
      if (!list || list === []) {
        return categoryString
      }
      if (list.label !== undefined) {
        categoryString = list.label
      } else {
        for (let i = 0; i < list.length; i++) {
          if (i !== list.length - 1) {
            categoryString = categoryString + list[i].label + ', '
          } else {
            categoryString = categoryString + list[i].label
          }
        }
      }
      return categoryString
    },
    changePage(newPage) {
      this.getPerksList({ page: newPage })
    },
    validatePerk(perk) {
      this.$buefy.dialog.confirm({
        title: 'Validating Perk',
        message: `Are you sure you want to validate <b> ${perk.title} </b>?`,
        confirmText: 'Validate Perk',
        type: 'is-success',
        onConfirm: () => {
          this.perkStateChange({ perkId: perk.id, status: 1 }).then(() => {
            this.getPerksList({ current_page: this.list.meta.current_page })
          })
        }
      })
    },
    rejectPerk(perk) {
      this.$buefy.dialog.confirm({
        title: 'Rejecting Perk',
        message: `Are you sure you want to reject <b> ${perk.title} </b>?`,
        confirmText: 'Reject Perk',
        type: 'is-danger',
        onConfirm: () => {
          this.perkStateChange({ perkId: perk.id, status: 0 }).then(() => {
            this.getPerksList({ current_page: this.list.meta.current_page })
          })
        }
      })
    },
    goToPerk(row) {
      return router.push({
        name: 'perkDetail',
        params: { title: this.createSlug(row.title) },
        query: { id: row.id }
      })
    },
    createSlug: function createSlug(title) {
      return title.replace(/ /g, '-')
    },
    goToStats(row) {
      return router.push({ name: 'perkStats', params: { id: row.id } })
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~-/_variables.scss';
.title {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: Perpetua, sans-serif;
  color: $primary;
}
.list-table {
  padding-top: 15px;
  color: $primary;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  button {
    margin-left: 10px;
    width: 100px;
  }
}
.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  button {
    padding: 15px 30px;
    font-size: 18px;
  }
}
.export-button {
  border: 1px solid $primary;
  margin-right: 10px;
}
</style>
