<template>
  <div>
    <h1 class="main-title">List of Users</h1>

    <separator />
    <b-table
      :data="list.data"
      :mobile-cards="true"
      class="list-table"
      :loading="usersListLoading || userStateChangeLoading"
    >
      <template slot-scope="props">
        <b-table-column field="status" label="Status">
          <span :class="['status', props.row.status]">
            {{ props.row.status }}
          </span>
        </b-table-column>

        <b-table-column field="name" label="Full Name">
          {{ props.row.firstname }} {{ props.row.lastname }}
        </b-table-column>
        <b-table-column field="enterprise" label="Startup name">
          <span class="enterprise">{{ props.row.company }}</span>
        </b-table-column>
        <b-table-column field="email" label="Email">
          {{ props.row.email }}
        </b-table-column>
        <b-table-column field="role" label="Role">
          {{ props.row.role }}
        </b-table-column>

        <b-table-column :width="240" centered label="Actions">
          <div class="button-container">
            <b-button
              v-if="props.row.status !== 'refused'"
              type="is-danger"
              size="is-small"
              @click="rejectUser(props.row)"
            >
              REJECT
            </b-button>
            <b-button
              v-if="props.row.status !== 'validated'"
              type="is-success"
              size="is-small"
              @click="validateUser(props.row)"
            >
              VALIDATE
            </b-button>
          </div>
        </b-table-column>
      </template>

      <template slot="empty">
        <section class="section">
          <div class="content has-text-grey has-text-centered">
            <p>Users list not available</p>
          </div>
        </section>
      </template>
    </b-table>
    <div
      v-if="list.meta && list.meta.total > list.meta.per_page"
      class="pagination-container"
    >
      <b-pagination
        :total="list.meta.total"
        :current.sync="list.meta.current_page"
        :range-before="list.meta.from"
        :range-after="list.meta.to"
        :per-page="list.meta.per_page"
        order="is-centered"
        size="is-medium"
        :simple="true"
        :rounded="false"
        icon-prev="icon ion-ios-arrow-back"
        icon-next="icon ion-ios-arrow-forward"
        aria-next-label="Next page"
        aria-previous-label="Previous page"
        aria-page-label="Page"
        aria-current-label="Current page"
        @change="changePage"
      >
      </b-pagination>
    </div>
    <div class="buttons-container">
      <b-button
        class="export-button"
        size="is-large"
        type="is-primary"
        outlined
        disabled
      >
        EXPORT USERS
      </b-button>
      <b-button size="is-large" type="is-success" disabled> ADD USER </b-button>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
import Separator from '@/components/Separator'
export default {
  components: {
    Separator
  },
  computed: {
    ...mapState('usersList', [
      'list',
      'usersListLoading',
      'userStateChangeLoading'
    ])
  },

  mounted() {
    this.getUsersList({ page: 1 })
  },
  methods: {
    ...mapActions('usersList', ['getUsersList', 'userStateChange']),
    changePage(newPage) {
      this.getUsersList({ page: newPage })
    },
    validateUser(user) {
      this.$buefy.dialog.confirm({
        title: 'Validating User',
        message: `Are you sure you want to validate <b> ${user.firstname} ${
          user.lastname
        }</b>?`,
        confirmText: 'Validate User',
        type: 'is-success',
        onConfirm: () => {
          this.userStateChange({ userId: user.id, status: 1 }).then(() => {
            this.getUsersList({ current_page: this.list.meta.current_page })
          })
        }
      })
    },
    rejectUser(user) {
      this.$buefy.dialog.confirm({
        title: 'Rejecting User',
        message: `Are you sure you want to reject <b>${user.firstname} ${
          user.lastname
        }</b>?`,
        confirmText: 'Reject User',
        type: 'is-danger',
        onConfirm: () => {
          this.userStateChange({ userId: user.id, status: 0 }).then(() => {
            this.getUsersList({ current_page: this.list.meta.current_page })
          })
        }
      })
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~-/_variables.scss';
.title {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: Perpetua, sans-serif;
  color: $primary;
}
.list-table {
  padding-top: 15px;
  color: $primary;
}
.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  button {
    padding: 15px 30px;
    font-size: 18px;
  }
}
.export-button {
  border: 1px solid $primary;
  margin-right: 10px;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  button {
    margin-left: 10px;
    width: 100px;
  }
}
.enterprise {
  font-weight: bold;
}
</style>
