<template>
  <div class="card-content has-text-centered">
    <h3 class="title">
      Account awaiting validation
    </h3>

    <separator />

    <CheckmarkCircleOutlineIcon w="120px" h="120px" class="subtitle" />
    <p class="subtitle">
      Thank you for registering with the X-Perks platform !
    </p>

    <p class="information">
      Your details have been sent to the administrator. You will shortly receive
      an email confirming that you are now part of the awesome X-Perks community
      !
    </p>
    <b-button type="is-primary" class="return-button" @click="openLogin">
      return
    </b-button>
  </div>
</template>

<script>
import CheckmarkCircleOutlineIcon from 'vue-ionicons/dist/ios-checkmark-circle-outline.vue'
import Separator from '@/components/Separator.vue'
export default {
  name: 'ActivationPage',
  components: {
    CheckmarkCircleOutlineIcon,
    Separator
  },
  methods: {
    openLogin() {
      this.$router.push({ name: 'login' })
    }
  }
}
</script>

<style scoped lang="scss">
@import '~-/_variables.scss';

.subtitle {
  color: $success;
}

.information {
  color: $light;
}
.card-content {
  padding-bottom: 90px;
  position: relative;
}
.return-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  border: 1px solid $primary;
}
</style>
