<template>
  <div>
    <form
      id="form__login"
      class="form"
      @submit.prevent
      @keyup.native.enter="submit"
    >
      <div class="card-content">
        <p class="title has-text-centered">
          Log In
        </p>

        <separator />

        <b-field
          label="Email address"
          required
          :type="{ 'is-danger': errorMessage(loginError, 'email') }"
          :message="errorMessage(loginError, 'email')"
        >
          <b-input
            v-model="form.email"
            type="email"
            @keyup.native.enter="submit"
          />
        </b-field>
        <b-field
          label="Password"
          required
          :type="{ 'is-danger': errorMessage(loginError, 'password') }"
          :message="errorMessage(loginError, 'password')"
        >
          <b-input
            v-model="form.password"
            type="password"
            value="Password"
            @keyup.native.enter="submit"
          />
        </b-field>

        <div
          class="button is-text password-forgot"
          @click="showPasswordModal = true"
        >
          Password forgot ?
        </div>
      </div>
      <footer class="card-footer">
        <b-button
          tag="router-link"
          :to="{ name: 'register' }"
          type="is-light"
          class="card-footer-item"
        >
          Create an account
        </b-button>
        <b-button
          class="card-footer-item"
          type="is-success"
          native-type="submit"
          :loading="loginLoading"
          @click="submit"
        >
          Log in
        </b-button>
      </footer>
    </form>
    <b-modal :active.sync="showPasswordModal" has-modal-card trap-focus>
      <password-forgot-modal />
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import Separator from '@/components/Separator'
import PasswordForgotModal from '@/components/PasswordForgot'
import { errorMessage } from '@/services/api'
export default {
  components: {
    Separator,
    PasswordForgotModal
  },
  data() {
    return {
      showPasswordModal: false,
      form: {
        email: '',
        password: ''
      }
    }
  },
  computed: {
    ...mapState('auth', ['loginLoading', 'loginError'])
  },
  methods: {
    ...mapActions('auth', ['login']),
    submit() {
      this.login({
        email: this.form.email,
        password: this.form.password
      })
    },
    errorMessage
  }
}
</script>
<style lang="scss" scoped>
.card-content {
  padding: 3.5rem;
}
</style>
