<template>
  <div class="card-content has-text-centered">
    <h3 class="title">
      Account refused
    </h3>

    <separator />

    <close-circle-outline-icon w="120px" h="120px" class="subtitle" />
    <p class="subtitle">
      You're account has been refused.
    </p>

    <p class="information">
      Your registration is not according to our conditions of service. Please
      contact an administrator for more details
    </p>
    <b-button type="is-primary" class="return-button" @click="openLogin">
      return
    </b-button>
  </div>
</template>

<script>
import CloseCircleOutlineIcon from 'vue-ionicons/dist/ios-close-circle-outline'
import Separator from '@/components/Separator.vue'
export default {
  name: 'AuthRefused',
  components: {
    CloseCircleOutlineIcon,
    Separator
  },
  methods: {
    openLogin() {
      this.$router.push({ name: 'login' })
    }
  }
}
</script>

<style scoped lang="scss">
@import '~-/_variables.scss';

.subtitle {
  color: $danger;
}

.information {
  color: $light;
}
.card-content {
  padding-bottom: 90px;
  position: relative;
}
.return-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  border: 1px solid $primary;
}
</style>
