<template>
  <form id="form__login" class="form" @submit.prevent>
    <div class="card-content">
      <p class="title has-text-centered">
        Create an account
      </p>

      <separator />

      <div class="columns">
        <div class="column is-full">
          <b-radio v-model="form.propose_perk" native-value="no">
            I would like to see perks
          </b-radio>
        </div>
      </div>
      <div class="columns">
        <div class="column is-12">
          <b-radio v-model="form.propose_perk" native-value="yes">
            I would like to propose perks (i'm a company)
          </b-radio>
        </div>
      </div>

      <div class="columns is-multiline">
        <div class="column is-full is-half-widescreen">
          <b-field
            label="Firstname"
            required
            :type="{ 'is-danger': errorMessage(registerError, 'firstname') }"
            :message="errorMessage(registerError, 'firstname')"
          >
            <b-input v-model="form.firstname" type="text" />
          </b-field>
        </div>

        <div class="column is-full is-half-widescreen">
          <b-field
            label="Lastname"
            required
            :type="{ 'is-danger': errorMessage(registerError, 'lastname') }"
            :message="errorMessage(registerError, 'lastname')"
          >
            <b-input v-model="form.lastname" type="text" />
          </b-field>
        </div>
      </div>
      <div class="columns is-multiline">
        <div class="column is-full is-half-widescreen">
          <b-field
            label="Email address"
            required
            :type="{ 'is-danger': errorMessage(registerError, 'email') }"
            :message="errorMessage(registerError, 'email')"
          >
            <b-input v-model="form.email" type="email" name="email" />
          </b-field>
        </div>
        <div class="column is-full is-half-widescreen">
          <b-field
            label="Password"
            required
            :type="{ 'is-danger': errorMessage(registerError, 'password') }"
            :message="errorMessage(registerError, 'password')"
          >
            <b-input
              v-model="form.password"
              type="password"
              name="password"
              value="Password"
            />
          </b-field>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <b-field
            label="Startup name"
            required
            :type="{ 'is-danger': errorMessage(registerError, 'company_name') }"
            :message="errorMessage(registerError, 'company_name')"
          >
            <b-input v-model="form.company_name" type="text" />
          </b-field>
        </div>
      </div>
      <div v-if="form.propose_perk === 'yes'" class="columns">
        <div class="column">
          <b-field
            class="file"
            label="Company logo"
            label-position="top"
            required
            :type="{
              'is-danger': errorMessage(registerError, 'logo')
            }"
            :message="errorMessage(registerError, 'logo')"
          >
            <b-upload v-model="form.logo">
              <a class="button is-light">
                <upload-icon></upload-icon>
                <span>Choose a file</span>
              </a>
            </b-upload>
            <span v-if="form.logo" class="file-name">
              {{ form.logo.name }}
            </span>
          </b-field>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <b-field
            v-if="form.propose_perk === 'no'"
            label="Link with L'École Polytechnique"
            required
            :type="{
              'is-danger': errorMessage(registerError, 'collaboration')
            }"
            :message="errorMessage(registerError, 'collaboration')"
          >
            <b-select
              v-model="form.collaboration"
              placeholder="Select an option"
            >
              <option
                v-for="collaboration in collaborationList"
                :key="collaboration.id"
                :value="collaboration.id"
              >
                {{ collaboration.label }}
              </option>
            </b-select>
          </b-field>
        </div>
      </div>
      <div class="columns is-multiline">
        <div class="column is-full">
          <div class="field">
            <b-checkbox v-model="form.conditions" required>
              <a class="conditions-link" @click="openModal()">
                I accept conditions*
              </a>
            </b-checkbox>
            <div>
              <span
                v-if="errorMessage(registerError, 'conditions')"
                class="help is-danger"
              >
                {{ errorMessage(registerError, 'conditions') }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <b-button
        tag="router-link"
        :to="{ name: 'login' }"
        type="is-light"
        class="card-footer-item"
      >
        I already have an account
      </b-button>
      <b-button
        class="card-footer-item"
        type="is-success"
        :loading="registerLoading"
        @click="submit"
      >
        Sign up
      </b-button>
    </footer>
  </form>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { errorMessage } from '@/services/api'
import RegisterConditionsModal from '@/components/RegisterConditionsModal.vue'
import Separator from '@/components/Separator'
import UploadIcon from 'vue-ionicons/dist/md-cloud-upload'

export default {
  components: {
    Separator,
    UploadIcon
  },
  data() {
    return {
      form: {
        email: null,
        company_name: null,
        password: null,
        firstname: null,
        lastname: null,
        propose_perk: 'no',
        conditions: false,
        collaboration: null,
        logo: null
      }
    }
  },
  computed: {
    ...mapState('auth', ['registerLoading', 'registerError']),
    ...mapState('collaboration', { collaborationList: 'list' })
  },
  mounted() {
    this.getCollaborationList()
  },
  methods: {
    ...mapActions('auth', ['register']),
    ...mapActions('collaboration', { getCollaborationList: 'list' }),
    errorMessage,
    openModal() {
      this.$buefy.modal.open({
        parent: this,
        component: RegisterConditionsModal,
        hasModalCard: true,
        customClass: 'conditions-modal'
      })
    },
    submit() {
      let formdata = new FormData()
      for (const [key, value] of Object.entries(this.form)) {
        if (value) {
          formdata.append(key, value)
        }
      }
      this.register(formdata)
    }
  }
}
</script>
<style lang="scss" scoped>
.conditions-link {
  text-decoration: underline;
}
.file {
  flex-wrap: wrap;
}
.file-name {
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 4px 4px;
}
.upload {
  width: 100%;

  a.button {
    width: 100%;
    padding: 0.2rem 2rem;
    text-transform: none;

    span {
      margin: 0 1rem;
    }
  }
}
</style>
