<template>
  <form id="form__login" class="card form" @submit.prevent>
    <div class="card-content has-text-centered">
      <p class="title">
        Reset your password
      </p>

      <separator />

      <b-message v-if="!canReset" type="is-danger">
        <p v-if="tokenEmpty">
          There is no token provided for this reset password request
        </p>
        <p v-if="emailEmpty">
          There is no email provided for this reset password request
        </p>
      </b-message>
      <div v-else>
        <b-field
          label="New password"
          :type="{
            'is-danger': errorMessage(resetError, 'password')
          }"
          :message="errorMessage(resetError, 'password')"
        >
          <b-input v-model="form.password" type="password" />
        </b-field>
        <b-field label="Confirm your new password">
          <b-input v-model="form.password_confirmation" type="password" />
        </b-field>
      </div>
    </div>
    <footer class="card-footer">
      <router-link
        :to="{ name: 'login' }"
        tag="a"
        class="button card-footer-item is-light"
        @click="$parent.close()"
      >
        Close
      </router-link>
      <b-button
        v-if="canReset"
        class="card-footer-item"
        type="is-success"
        native-type="submit"
        :loading="resetLoading"
        @click="submit"
      >
        Reset my password
      </b-button>
    </footer>
  </form>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import Separator from '@/components/Separator'
import { errorMessage } from '@/services/api'
export default {
  components: {
    Separator
  },
  data() {
    return {
      form: {
        email: this.$route.query.email,
        token: this.$route.query.token,
        password: '',
        password_confirmation: ''
      }
    }
  },
  computed: {
    ...mapState('auth', ['resetLoading', 'resetError']),
    tokenEmpty() {
      return this.$route.query.token === undefined
    },
    emailEmpty() {
      return this.$route.query.email === undefined
    },
    canReset() {
      return !(this.emailEmpty || this.tokenEmpty)
    }
  },
  methods: {
    ...mapActions('auth', ['reset']),
    submit() {
      this.reset(this.form).then(val => {
        this.$buefy.toast.open({
          message: val.message,
          type: 'is-' + val.code,
          duration: 10000
        })
      })
    },
    errorMessage
  }
}
</script>
