<template>
  <div class="comments">
    <div v-if="lastPage > 1" class="top-navigation">
      <i
        :class="['icon ion-ios-arrow-back', { disabled: currentPage === 1 }]"
        @click="previousPage()"
      ></i>
      <i
        :class="[
          'icon ion-ios-arrow-forward',
          { disabled: currentPage === lastPage }
        ]"
        @click="nextPage()"
      ></i>
    </div>
    <div class="comment-card-container">
      <div v-for="item in showItems" :key="item.id" class="comment-card">
        <ratings :value="item.rating" />
        <p class="subject">{{ item.title }}</p>
        <div class="description">
          {{ item.comment }}
        </div>
        <div class="horizontal-line"></div>
        <p class="author">{{ item.author }}</p>
      </div>
    </div>
  </div>
</template>
<script>
import Ratings from './Ratings.vue'
export default {
  components: {
    Ratings
  },
  props: {
    pageSize: {
      required: false,
      type: Number,
      default: 2
    },
    lastPage: {
      required: false,
      type: Number,
      default: 1
    },
    list: {
      required: false,
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      currentPage: 1
    }
  },
  computed: {
    showItems() {
      let sliceArg = this.pageSize * (this.currentPage - 1)
      return this.list.slice(sliceArg, sliceArg + this.pageSize)
    }
  },
  methods: {
    previousPage() {
      this.currentPage = this.currentPage - 1
    },
    nextPage() {
      this.currentPage = this.currentPage + 1
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~-/_variables.scss';
.top-navigation {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .icon {
    font-size: 28px;
    cursor: pointer;
    &:hover {
      color: $primary;
    }
    &.disabled {
      color: $light;
      pointer-events: none;
    }
  }
  .ion-ios-arrow-forward {
    margin-left: 20px;
  }
}
.comment-card-container {
  display: flex;
}
.comment-card {
  border: 1px solid $light;
  padding: 30px 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  flex: 1;
  &:not(:last-child) {
    border-right: 0;
  }

  .subject {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
  }

  .description {
    font-size: 14px;
    font-style: italic;
  }

  .horizontal-line {
    margin: 12px 0;
    width: 10%;
    border-top: 1px solid black;
  }

  .author {
    font-size: 22px;
    font-weight: bold;
  }
}
</style>
