<template>
  <footer class="footer">
    <div class="content">
      <div class="container is-fluid">
        <div class="columns">
          <div class="column is-3">
            <div class="logo">
              <img src="/assets/images/logo.png" />
            </div>
          </div>
          <vertical-separator title="Menu" />
          <div class="column is-2">
            <ul>
              <li>
                <router-link v-if="canProposePerk" :to="{ name: 'createPerk' }">
                  Create a perk
                </router-link>
              </li>
              <li>
                <router-link :to="{ name: 'mine' }">
                  My perks
                </router-link>
              </li>
              <li>
                <router-link :to="{ name: 'profile' }">
                  My account
                </router-link>
              </li>
              <li>
                <router-link :to="{ name: 'profile' }">
                  Privacy
                </router-link>
              </li>
            </ul>
          </div>
          <vertical-separator />
          <div class="column is-2">
            <ul>
              <li>
                <a
                  href="https://polytechnique-entrepreneurship.fr/"
                  target="_blank"
                >
                  X-Entrepreneurship
                </a>
              </li>
              <li>
                <a
                  href="https://polytechnique-entrepreneurship.fr/"
                  target="_blank"
                >
                  Contact us
                </a>
              </li>
              <li>
                <a
                  href="https://polytechnique-entrepreneurship.fr/"
                  target="_blank"
                >
                  Legal mentions
                </a>
              </li>
            </ul>
          </div>
          <div class="column is-3">
            <ul class="social-networks">
              <li>
                <a href="https://www.facebook.com/st4rtupX/" target="_blank">
                  <facebook-logo />
                </a>
              </li>
              <li>
                <a href="https://twitter.com/st4rtupX" target="_blank">
                  <twitter-logo />
                </a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/showcase/10998848"
                  target="_blank"
                >
                  <linked-in-logo />
                </a>
              </li>
              <li>
                <a
                  href="https://www.youtube.com/channel/UCVR3nQZ4pNWyHlOmgW2Uf1g"
                  target="_blank"
                >
                  <youtube-logo />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <p class="container is-fluid">
        &copy; Copyright 2012 - {{ actualYear }} |
        <a href="https://polytechnique-entrepreneurship.fr" target="_blank">
          X-Entrepreneurship
        </a>
        | All rights reserved | Developped with ❤️ by
        <a href="https://www.thecodingmachine.com" target="_blank">
          TheCodingMachine
        </a>
      </p>
    </div>
  </footer>
</template>

<script>
import { mapGetters } from 'vuex'
import VerticalSeparator from './VerticalSeparator'
import TwitterLogo from 'vue-ionicons/dist/logo-twitter.vue'
import FacebookLogo from 'vue-ionicons/dist/logo-facebook.vue'
import LinkedInLogo from 'vue-ionicons/dist/logo-linkedin.vue'
import YoutubeLogo from 'vue-ionicons/dist/logo-youtube.vue'
export default {
  name: 'Footer',
  components: {
    VerticalSeparator,
    TwitterLogo,
    FacebookLogo,
    LinkedInLogo,
    YoutubeLogo
  },
  data() {
    return {
      actualYear: new Date().getFullYear()
    }
  },
  computed: {
    ...mapGetters('auth', ['canProposePerk'])
  }
}
</script>

<style lang="scss" scoped>
@import '~-/_variables.scss';

footer {
  padding: 0;
  margin-top: 4rem;

  .content {
    a {
      color: $light;
      &:hover {
        color: $white;
      }
    }

    position: relative;
    background-color: $primary;
    color: $white;
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px;

    .logo {
      position: absolute;
      bottom: 0%;
      left: 10%;
      background-color: $primary;
      padding: 1rem;
      margin: 1rem;

      @media all {
      }
    }

    ul {
      margin-top: 0;
      list-style: none;
      &.social-networks {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        li {
          margin-top: 0;
          font-size: 30px;
        }
      }

      > li {
        color: $light;
      }
    }
  }

  .bottom {
    a {
      font-weight: bold;
    }

    background-color: $white;
    color: $primary;
    text-align: right;
    padding: 15px 3px;
  }
}
</style>
