<template>
  <div
    class="header hero is-medium"
    :style="`background-image: url(${header.img})`"
  >
    <div class="container is-fluid">
      <div class="navbar-wrapper">
        <router-link :to="{ name: 'home' }">
          <div class="logo tablet">
            <img src="/assets/images/logo.png" />
          </div>
        </router-link>
        <navbar />
      </div>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <div v-if="header.title" class="title is-spaced">
          <strong>{{ header.title }}</strong>

          <div v-if="header.titleSecondLine" class="title-second">
            {{ header.titleSecondLine }}
          </div>
        </div>
        <div v-if="header.subtitle" class="subtitle">
          {{ header.subtitle }}
        </div>
      </div>
    </div>
    <div v-if="header.ribbon" class="ribbon">
      <div class="ribbon-label">
        <span>{{ header.ribbon }}</span>
      </div>
      <div class="ribbon-triangle">
        <span class="ribbon-triangle-item" />
        <span class="ribbon-triangle-item ribbon-triangle-shadow" />
      </div>
    </div>
    <div v-if="showSearch" class="search-container">
      <search-bar />
    </div>
  </div>
</template>

<script>
import Navbar from './Navbar'
import SearchBar from './SearchBar'
import { mapState } from 'vuex'

export default {
  name: 'Header',
  components: {
    Navbar,
    SearchBar
  },
  computed: {
    ...mapState('common', ['header']),
    showSearch() {
      if (this.$route.path === '/') {
        return true
      }
      return false
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~-/_variables.scss';
.title,
.title-second,
.subtitle {
  font-family: $family-secondary;
}

.subtitle {
  font-weight: bold;
}

.header {
  background-image: url('/assets/images/header.png');
}
.search-container {
  position: relative;
}
</style>
