<template>
  <div class="loading-box" :style="{ height: height + 'px' }">
    <b-loading :is-full-page="false" :active.sync="loading" :can-cancel="false">
    </b-loading>
    <slot />
  </div>
</template>
<script>
export default {
  props: {
    loading: {
      required: true,
      type: Boolean
    },
    height: {
      required: false,
      type: Number,
      default: 300
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~-/_variables.scss';
.loading-box {
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: $primary;
  font-weight: bold;
}
</style>
