<template>
  <div class="p-list">
    <router-link
      v-for="item in listItems"
      :key="item.name"
      :to="{ name: item.link }"
      class="p-list-item"
      tag="div"
    >
      <i :class="['icon', item.icon]"></i>
      {{ item.name }}
    </router-link>
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    listItems: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~-/_variables.scss';

.list-layout-container {
  .icon {
    font-size: 32px;
  }
}
.p-list {
  margin-top: 76px;
}
.p-list-item {
  background-color: #fff;
  color: $primary;
  padding: 15px 20px 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  border-bottom: 1px solid $light;
  border-top: 1px solid $light;
  .icon {
    color: $light;
  }
  &:hover {
    cursor: pointer;
    background-color: $primary;
    color: #fff;
    .icon {
      color: #fff;
    }
  }
  &.router-link-exact-active {
    background-color: $primary;
    color: #fff;
    .icon {
      color: #fff;
    }
  }
  &.disconnect {
    justify-content: flex-end;
    color: $light;
  }
}
</style>
