<template>
  <b-navbar id="navbar">
    <template slot="burger">
      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span />
        <span />
        <span />
      </a>
    </template>
    <template slot="end">
      <router-link :to="{ name: 'home' }" class="navbar-item">
        Home
      </router-link>
      <router-link :to="{ name: 'mine' }" class="navbar-item">
        My perks
      </router-link>
      <router-link :to="{ name: 'profile' }" class="navbar-item">
        My account
      </router-link>
      <b-navbar-item v-if="canProposePerk || isAdmin" tag="div">
        <div class="buttons">
          <router-link :to="{ name: 'createPerk' }" class="button is-success">
            Create a perk
          </router-link>
        </div>
      </b-navbar-item>
      <b-navbar-item v-if="isAdmin" tag="div">
        <router-link :to="{ name: 'admin' }">
          <i class="icon ion-ios-cog"></i>
        </router-link>
      </b-navbar-item>
      <b-navbar-item class="navbar-item-icon" tag="div">
        <img src="/assets/images/logo-icon.png" />
      </b-navbar-item>
    </template>
  </b-navbar>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Navbar',
  computed: {
    ...mapGetters('auth', ['isAdmin', 'canProposePerk'])
  }
}
</script>
<style lang="scss" scoped>
@import '~-/_variables.scss';

.button {
  padding: 5px 10px;
}
.ion-ios-cog {
  font-size: 32px;
  color: $success;
  &:hover {
    animation: rotation 1s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}
</style>
