<template>
  <div class="offer-slip-container">
    <div class="fold-container">
      <div class="fold">
        <div class="color-fold"></div>
      </div>
      <div class="below-fold"></div>
    </div>
    <div class="offer-slip">
      <div class="offer-title">OFFER</div>
      <div class="offer-value">{{ value }}</div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: [Number, String],
      required: true
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~-/_variables.scss';
.offer-slip-container {
  display: flex;
  border-radius: 3px;
  overflow: hidden;
}
.offer-slip {
  width: 100%;
  min-width: 100px;
  background-color: #003a56;
  padding: 12px 15px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}
.fold-container {
  width: 30px;
  display: flex;
  flex-flow: column;
  position: relative;
  right: -1px;
}
.fold {
  width: 30px;
  height: 30px;
}
.color-fold {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 30px 30px;
  border-color: transparent transparent lighten($color-light-primary, 10%)
    transparent;
}
.below-fold {
  height: 100%;
  width: 100%;
  min-height: 40px;
  background-color: $primary;
}
.offer-title {
  color: lighten($color-light-primary, 10%);
  font-size: 20px;
  line-height: 20px;
}
.offer-value {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}
</style>
