<template>
  <form id="form__login" class="card form" @submit.prevent>
    <div class="card-content has-text-centered">
      <p class="title">
        Ask for a new password
      </p>
      <separator />
      <b-message type="is-info">
        Provide your email address to receive a reset passwod link.
      </b-message>
      <b-field
        label="Email address"
        required
        :type="{ 'is-danger': errorMessage(resetError, 'email') }"
        :message="errorMessage(resetError, 'email')"
      >
        <b-input v-model="form.email" type="email" size="is-large" />
      </b-field>
    </div>
    <footer class="card-footer">
      <a class="button card-footer-item is-light" @click="$parent.close()">
        Close
      </a>
      <b-button
        class="card-footer-item"
        type="is-success"
        native-type="submit"
        :loading="resetLoading"
        @click="submit"
      >
        Reset my password
      </b-button>
    </footer>
  </form>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { errorMessage } from '@/services/api'
import Separator from '@/components/Separator'
export default {
  components: {
    Separator
  },
  data() {
    return {
      form: {
        email: ''
      }
    }
  },
  computed: {
    ...mapState('auth', ['resetLoading', 'resetSuccess', 'resetError'])
  },
  methods: {
    ...mapActions('auth', ['forgot']),
    errorMessage,
    submit() {
      this.forgot({
        email: this.form.email
      }).then(val => {
        this.$buefy.toast.open({
          message: val.message,
          type: 'is-' + val.code,
          duration: 10000
        })
      })
    }
  }
}
</script>
