<template>
  <div class="card">
    <div
      class="card-image"
      style="background-image:url('https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto/gigs/108382308/original/4c60b6a1527934fd8b8e238f39505fc7e9b84162/fix-html-css-jvascript-and-jquery-issues.jpg')"
    >
      <a
        v-if="canShowPerks"
        :id="data.state.favorite"
        :class="{
          'is-pulled-right': true,
          favorite: true,
          'is-colored': data.state.favorite
        }"
        @click.stop="favorite({ id: data.id, state: !data.state.favorite })"
      >
        <i class="icon ion-ios-heart"></i>
      </a>
    </div>
    <div class="middle-container">
      <div class="card-category">
        {{ data.category.label }}
      </div>
      <offer-slip class="card-offer" :value="data.offer"></offer-slip>
    </div>
    <div class="card-content">
      <div class="group-name">{{ data.author.company_name }}</div>
      <div class="card-title">{{ data.title }}</div>
      <div class="card-description" v-html="data.description"></div>
    </div>
    <footer class="card-footer-item">
      <hr />
      <ratings :value="data.rate" />
      <a class="see-perk-button button is-primary">SEE THE DEAL</a>
    </footer>
  </div>
</template>
<script>
import { mapState, mapActions, mapGetters } from 'vuex'
import OfferSlip from './OfferSlip.vue'
import Ratings from './Ratings.vue'
export default {
  components: {
    OfferSlip,
    Ratings
  },
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapGetters('auth', ['canShowPerks']),
    ...mapState('perk', ['userState', 'userStateLoading', 'favoriteLoading'])
  },
  methods: {
    ...mapActions('perk', ['getUserState', 'favorite'])
  }
}
</script>
<style lang="scss" scoped>
@import '~-/_variables.scss';
.card {
  min-width: 320px;
  max-width: 400px;
  height: 572px;
  &:hover {
    cursor: pointer;
    transform: scale(1.015);
    transition: all 0.3s;
    box-shadow: 0 1.2rem 3.6rem rgba(0, 0, 0, 0.3);
  }
}
.card-image {
  height: 220px;
  background-position: center;
  background-size: cover;
}
.middle-container {
  position: relative;
}
.card-category {
  padding: 5px 30px;
  max-width: 50%;
  background-color: $light;
  position: absolute;
  color: #000;
  left: 0;
  font-weight: bold;
  text-transform: uppercase;
  transform: translateY(-50%);
}
.card-offer {
  position: absolute;
  right: 0;
  width: 150px;
  max-width: 50%;
  transform: translateY(-50%);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.card-content {
  padding: 50px 20px 0 20px;
  .group-name {
    color: $light;
    font-size: 17px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-title {
    font-size: 20px;
    font-weight: bold;
    color: $primary;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-description {
    font-style: italic;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.card-footer-item {
  position: absolute;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  width: 100%;
  flex-flow: column;
  padding: 0;
  hr {
    width: 100%;
  }
}
.rating-container {
  transform: scale(1.3);
}
.see-perk-button {
  margin-top: 15px;
  width: 100%;
  font-weight: 400;
}
.favorite {
  font-size: 30px;
  margin-right: 10px;
  color: $white;

  &.is-colored {
    color: $danger;
    &:hover {
      color: $white;
    }
  }
  &:hover {
    color: $danger;
  }
}
</style>
