<template>
  <div class="rating-container">
    <div v-if="value != 0" class="ratings">
      <div class="empty-stars"></div>
      <div class="full-stars" :style="{ width: rating }"></div>
    </div>
    <div v-else class="ratings">
      <p class="no-ratings">
        No ratings yet !
      </p>
    </div>
    <div v-if="value != 0" class="rating-number">{{ value }}/5</div>
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: Number,
      required: false,
      default: 0
    }
  },
  computed: {
    rating() {
      const val = this.value * 10 * 2
      return val + '%'
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~-/_variables.scss';
.rating-container {
  display: flex;
  align-items: center;
}
.rating-number {
  font-size: 16px;
  color: $color-gold;
  margin-left: 15px;
  font-weight: bold;
}
.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.full-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: $color-gold;
}
.empty-stars:before,
.full-stars:before {
  content: '\2605\00a0\2605\00a0\2605\00a0\2605\00a0\2605';
  font-size: 16pt;
}
.empty-stars:before {
  -webkit-text-stroke: 1px $color-gold;
}
.full-stars:before {
  -webkit-text-stroke: 1px $color-gold;
}
/* Webkit-text-stroke is not supported on firefox or IE */

/* Firefox */
@-moz-document url-prefix() {
  .full-stars {
    color: $color-gold;
  }
}

.no-ratings {
  color: #003a56;
}
</style>
