<template>
  <div class="card has-text-centered">
    <div class="top-container">
      <p class="title">
        Terms and Conditions
      </p>
      <separator />
    </div>
    <div class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta delectus,
      et, dolore officiis cumque tempore tenetur voluptate nihil hic beatae,
      repellendus numquam qui ipsum culpa quo dolor eius molestias ipsa.
      <br /><br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem at
      perspiciatis, veniam cupiditate error maiores aut exercitationem
      reprehenderit vitae? Minima qui ut laboriosam obcaecati. Quidem in earum
      cupiditate enim odio.
      <br /><br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed molestiae
      cumque quis ducimus, aut nostrum impedit quae magnam doloribus odio, optio
      molestias cum aspernatur tenetur! Iusto minima voluptates eos quos!
      <br /><br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem at
      perspiciatis, veniam cupiditate error maiores aut exercitationem
      reprehenderit vitae? Minima qui ut laboriosam obcaecati. Quidem in earum
      cupiditate enim odio.
      <br /><br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed molestiae
      cumque quis ducimus, aut nostrum impedit quae magnam doloribus odio, optio
      molestias cum aspernatur tenetur! Iusto minima voluptates eos quos!
      <br /><br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem at
      perspiciatis, veniam cupiditate error maiores aut exercitationem
      reprehenderit vitae? Minima qui ut laboriosam obcaecati. Quidem in earum
      cupiditate enim odio.
      <br /><br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed molestiae
      cumque quis ducimus, aut nostrum impedit quae magnam doloribus odio, optio
      molestias cum aspernatur tenetur! Iusto minima voluptates eos quos!
      <br /><br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem at
      perspiciatis, veniam cupiditate error maiores aut exercitationem
      reprehenderit vitae? Minima qui ut laboriosam obcaecati. Quidem in earum
      cupiditate enim odio.
      <br /><br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed molestiae
      cumque quis ducimus, aut nostrum impedit quae magnam doloribus odio, optio
      molestias cum aspernatur tenetur! Iusto minima voluptates eos quos!
      <br /><br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem at
      perspiciatis, veniam cupiditate error maiores aut exercitationem
      reprehenderit vitae? Minima qui ut laboriosam obcaecati. Quidem in earum
      cupiditate enim odio.
      <br /><br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed molestiae
      cumque quis ducimus, aut nostrum impedit quae magnam doloribus odio, optio
      molestias cum aspernatur tenetur! Iusto minima voluptates eos quos!
    </div>
    <b-button type="is-primary" class="close-button" @click="$parent.close()">
      Close
    </b-button>
  </div>
</template>

<script>
import Separator from '@/components/Separator'
export default {
  components: {
    Separator
  }
}
</script>
<style lang="scss" scoped>
.top-container {
  padding: 0 40px;
}
.card {
  min-height: 300px;
  padding: 40px 0 70px 0;
  position: relative;
}
.description {
  max-height: 600px;
  overflow: auto;
  width: 100%;
  padding: 0 40px;
}
.close-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}
</style>
