<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Renew perk</p>
    </header>
    <section class="modal-card-body">
      <b-field
        label="Renew for"
        required
        :type="{ 'is-danger': errorMessage(renewPerkError, 'expires_in') }"
        :message="errorMessage(renewPerkError, 'expires_in')"
      >
        <b-select
          v-model="form.expires_in"
          placeholder="Please select the duration of the perk (in months)"
        >
          <option v-for="counter in 12" :key="counter" :value="counter">
            {{ counter }} months
          </option>
        </b-select>
      </b-field>
    </section>
    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$parent.close()">
        Close
      </button>
      <button class="button is-primary" @click="submit()">Renew</button>
    </footer>
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
import { errorMessage } from '@/services/api'

export default {
  props: {
    id: {
      required: true,
      type: Number
    }
  },
  data() {
    return {
      form: {
        expires_in: ''
      }
    }
  },
  computed: {
    ...mapState('perk', ['renewPerkLoading', 'renewPerkError'])
  },
  mounted() {
    console.log('props', this)
  },
  methods: {
    ...mapActions('perk', ['renewPerk', 'subscribe', 'getRatings', 'favorite']),
    errorMessage,
    submit() {
      this.renewPerk({
        expires_in: this.form.expires_in,
        id: this.id
      }).then(val => {
        this.$buefy.toast.open({
          message:
            val.code === 'success'
              ? 'Your perk has been successfully renewed.'
              : 'An error occured while renewing your perk.',
          type: 'is-' + val.code,
          duration: 10000
        })
        this.$parent.close()
      })
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~-/_variables.scss';
.modal-card {
  width: 400px;
}
.modal-card-foot {
  display: flex;
  justify-content: space-around;
}
</style>
