<template>
  <div class="restricted-access">
    <p v-if="restricted" class="restricted-text">
      Please subscribe to see how to benefit to the offer
    </p>
    <div :class="{ 'restricted-element': restricted }">
      <p v-if="restricted">
        L'école polytechnique accompagne les porteurs de projets vers la
        création d'entreprise via son programme d'accélération, d'incubation et
        de prototypage. Retrouvez toutes les informations sur notre structure
        d'accompagnement à l'entrepreneuriat: accélérateur X-Up, incubateur
        X-Tech, Fab-Lab, nos dispositifs de financement et nos incubateurs
        partenaires sur
        <a href="https://www.polytechnique.edu/fr/entrepreneurs">
          https://www.polytechnique.edu/fr/entrepreneurs</a
        >.
      </p>
      <slot v-else />
    </div>
  </div>
</template>
<script>
export default {
  props: {
    restricted: {
      required: true,
      type: Boolean
    }
  }
}
</script>
<style lang="scss" scoped>
.restricted-access {
  position: relative;
}
.restricted-element {
  filter: blur(4px);
}
.restricted-text {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  z-index: 2;
  font-size: 20px;
  font-weight: bold;
}
</style>
