<template>
  <div class="search-bar">
    <b-field position="is-centered">
      <b-input
        placeholder="Search..."
        type="search"
        icon="icon ion-ios-search"
        size="is-large"
        class="input-container"
      />
      <p class="control button-container">
        <b-button size="is-large" class="is-success">
          Search
        </b-button>
      </p>
    </b-field>
  </div>
</template>

<script>
export default {
  name: 'SearchBar'
}
</script>

<style scoped lang="scss">
@import '~-/_variables.scss';
.search-bar {
  padding: 5px;
  position: absolute;
  top: -173px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $white;
  border: 1px solid $light;
  width: 50%;
  @media screen and (max-width: 768px) {
    top: -153px;
    width: 90%;
  }
  .input-container {
    width: 100%;
  }
  span.icon {
    border-right: 1px solid $light;
  }

  button {
    z-index: 10;
  }
}
</style>
<style lang="scss">
@import '~-/_variables.scss';
.input-container {
  .input {
    height: 100%;
    border-radius: 0;
    border: 0;
    color: #646464;
    font-family: $family-primary;
    -webkit-appearance: none;
    outline: none;
    box-shadow: none;
  }
  .icon .ion-ios-search {
    font-size: 38px;
    top: -6px;
  }
  .icon.is-left {
    height: 100%;
    width: 72px;
    &::after {
      content: '';
      position: absolute;
      right: 0px;
      top: 6%;
      height: 87%;
      border-right: 1px solid #ccc;
    }
  }
}
.button-container {
  margin-left: 5px;
}
.control.has-icons-left .input {
  padding-left: 4em;
}
</style>
