<template>
  <div class="separator">
    <span>
      <img src="/assets/images/logo-icon.png" />
    </span>
  </div>
</template>

<script>
export default {
  name: 'SeparatorVue'
}
</script>

<style scoped lang="scss">
@import '~-/_variables.scss';

.separator {
  height: 0;
  width: 100%;
  border: 0.5px solid $light;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  text-align: center;

  span {
    position: absolute;
    width: 200px;
    background-color: $white;
  }
}
</style>
