<template>
  <div class="tile is-vertical is-3">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <component
            :is="component"
            w="100px"
            h="100px"
            class="stat-icon"
          ></component>
          <p class="subtitle">
            {{ title }}
          </p>
          <p class="title stat">
            {{ count }}
          </p>
        </article>
      </div>
    </div>
  </div>
</template>

<script>
import CheckmarkCircleIcon from 'vue-ionicons/dist/ios-checkmark-circle'
import ClipBoardIcon from 'vue-ionicons/dist/ios-clipboard'
import EyeIcon from 'vue-ionicons/dist/ios-eye'

export default {
  name: 'StatTile',
  props: {
    title: {
      type: String,
      default: 'Stats'
    },
    count: {
      type: Number,
      default: 0
    },
    icon: {
      type: String,
      default: ''
    }
  },
  Components: {
    EyeIcon,
    ClipBoardIcon,
    CheckmarkCircleIcon
  },
  computed: {
    component() {
      switch (this.icon) {
        case 'EyeIcon':
          return EyeIcon
        case 'ClipBoardIcon':
          return ClipBoardIcon
        case 'CheckmarkCircleIcon':
          return CheckmarkCircleIcon
      }
      return null
    }
  }
}
</script>

<style scoped lang="scss">
.tile {
  justify-content: center;
  text-align: center;
  padding: 2em inherit;
  text-transform: uppercase;
}
.stat {
  font-size: 45px;
}
.stat-icon {
  color: #23d160;
}
</style>
