<template>
  <div class="rule-container">
    <div class="rule" />
    <div v-if="title" class="title">
      {{ title }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'VerticalSeparator',
  props: {
    title: {
      type: String,
      default: ''
    }
  }
}
</script>

<style scoped lang="scss">
@import '~-/_variables.scss';
.rule-container {
  display: flex;
  flex-flow: column;
  align-items: center;

  .rule {
    display: flex;
    flex-direction: column;
    width: 0;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 55%;
    border: 0.5px solid #0971a3;
  }
  .title {
    padding: 5px 0;
    text-transform: uppercase;
    background-color: #003a56;
    font-size: 13px;
    color: #0971a3;
    transform: rotate(-90deg);
    position: absolute;
    top: 67%;
  }
}
</style>
