<template>
  <loading v-if="perkLoading" :loading="perkLoading"></loading>
  <div
    v-else-if="perk && Object.entries(perk).length > 0"
    class="perk-detail is-desktop"
  >
    <div class="column is-8">
      <h1 class="main-title perk-detail__title">
        {{ perk.title }}
      </h1>
      <separator></separator>
      <p class="sub-title">
        DEALS
      </p>
      <hr />
      <div class="deal-description" v-html="perk.description"></div>
      <p class="sub-title">
        HOW TO BENEFIT FROM THE OFFER
      </p>
      <hr />

      <restricted-access
        :restricted="!userState.subscribed && !userState.owner"
      >
        <div
          class="deal-description"
          v-html="perk.subscription_conditions"
        ></div>
      </restricted-access>
      <h1 class="main-title perk-detail__title">
        RATING
      </h1>
      <separator></separator>

      <rating-form
        v-if="!userState.rated && !userState.owner && userState.subscribed"
        :perk-id="$route.query.id"
      ></rating-form>

      <comments
        v-if="Object.entries(ratings).length > 0"
        :list="ratings"
        :page-size="commentPageSize"
        :last-page="lastPage"
      />
      <div v-else>
        <p>There is no ratings for this perk</p>
      </div>
    </div>
    <div class="column is-4">
      <div v-if="userState.owner || isAdmin" :class="['status', perk.status]">
        {{ perk.status }}
      </div>

      <div class="company-logo-container">
        <p class="powered-by">Powered By:</p>
        <img
          class="company-logo"
          :src="perk.author.logo"
          :alt="perk.author.company_name"
        />
      </div>
      <hr />
      <div class="perk-detail-list">
        <div class="list-title">
          Perk end:
        </div>
        <div class="list-value">
          {{ perk.expires_at | date }}
        </div>
      </div>
      <hr />
      <div class="perk-detail-list">
        <div class="list-title">
          Categories:
        </div>
        <div class="list-value">
          {{ perk.categories.map(e => e.label).join(', ') }}
        </div>
      </div>
      <hr />
      <div class="perk-detail-list">
        <ratings :value="perk.rate" />
      </div>
      <hr />
      <div class="perk-detail-list">
        <offer-slip :value="perk.offer"> </offer-slip>
      </div>
      <div
        v-if="!userStateLoading && Object.entries(userState).length > 0"
        class="perk-detail-list"
      >
        <div v-if="userState.owner || isAdmin" class="full-width">
          <router-link
            :to="{ name: 'perkStats', params: { id: perk.id } }"
            class="button is-info"
          >
            <i class="icon ion-ios-stats"></i>
            View stats
          </router-link>
          <router-link
            v-if="(!isPublished() || isAdmin) && !isExpired()"
            :to="{ name: 'createPerk', params: { perkId: perk.id } }"
            class="button is-light"
          >
            <i class="icon ion-ios-create"></i>
            Edit perk
          </router-link>
          <button
            v-if="isPublished()"
            class="button is-primary"
            @click="renewModal()"
          >
            <i class="icon ion-ios-refresh"></i>
            Renew perk
          </button>
        </div>
        <template v-else>
          <b-button
            v-if="!userState.subscribed"
            class="is-success"
            :loading="subscribeLoading"
            @click="subscribe(perk.id)"
          >
            <i class="icon ion-ios-checkmark-circle"></i>
            SUBSCRIBE
          </b-button>
          <div v-else class="has-text-success mt-20">
            <i class="icon ion-ios-checkmark-circle"></i>
            <span>You've subscribed to the perk</span>
          </div>
        </template>
      </div>
      <div v-if="canShowPerks" class="perk-detail-list">
        <b-button
          class="is-danger"
          :loading="favoriteLoading"
          @click="favorite({ id: perk.id, state: !userState.favorite })"
        >
          <span v-if="!userState.favorite">
            <i class="icon ion-ios-heart"></i>
            Add to favorite
          </span>
          <span v-if="userState.favorite">
            <i class="icon ion-ios-heart-half"></i> Remove from favorite
          </span>
        </b-button>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions, mapGetters } from 'vuex'
import Ratings from '@/components/Ratings.vue'
import OfferSlip from '@/components/OfferSlip.vue'
import Comments from '@/components/Comments.vue'
import RestrictedAccess from '@/components/RestrictedAccess.vue'
import Loading from '@/components/Loading.vue'
import Separator from '@/components/Separator'
import RatingForm from '@/screens/Perk/RatingForm.vue'
import store from '@/store'
import RenewModal from '@/components/RenewModal.vue'

export default {
  components: {
    Ratings,
    OfferSlip,
    Comments,
    RestrictedAccess,
    Loading,
    Separator,
    RatingForm
  },
  computed: {
    ...mapState('perk', [
      'perk',
      'perkLoading',
      'userState',
      'userStateLoading',
      'subscribeLoading',
      'favoriteLoading',
      'ratings',
      'getRatingsLoading'
    ]),
    ...mapGetters('auth', ['isAdmin', 'canProposePerk', 'canShowPerks']),
    commentPageSize() {
      return this.$mq === 'sm' ? 1 : 2
    },
    lastPage() {
      return this.$mq === 'sm'
        ? this.ratings.length
        : Math.ceil(this.ratings.length / 2)
    }
  },
  mounted() {
    const perkId = this.$route.query.id
    this.getRatings({ id: perkId })
  },
  beforeRouteEnter(to, from, next) {
    store.dispatch('perk/getPerk', to.query.id).then(() =>
      next(vm => {
        vm.setHeader({
          title: vm.perk.title,
          titleSecondLine: null,
          subtitle: vm.perk.tagline,
          img: '/assets/images/category.png',
          ribbon: null
        })
      })
    )
  },
  methods: {
    ...mapActions('perk', [
      'getUserState',
      'subscribe',
      'getRatings',
      'favorite'
    ]),
    ...mapActions('common', ['setHeader']),
    isPublished() {
      return this.perk.status === 'published'
    },
    renewModal() {
      this.$buefy.modal.open({
        parent: this,
        component: RenewModal,
        hasModalCard: true,
        props: { id: this.perk.id }
      })
    },
    isExpired() {
      return this.perk.status === 'expired'
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~-/_variables.scss';
.perk-detail {
  display: flex;
  @media screen and (max-width: 768px) {
    flex-flow: column;
  }
}
.logo-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  hr {
    flex: 1;
  }
  img {
    height: 40px;
    padding: 0 71px;
  }
}
.deal-description {
  padding: 15px 0;
  position: relative;
  &:last-child {
    margin-bottom: 15px;
  }
}
.company-logo-container {
  text-align: center;
  font-size: 18px;
  color: $light;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-flow: column;
  background-color: $primary;
}
.perk-detail-list {
  display: flex;
  justify-content: center;
  font-size: 17px;
  .list-title {
    padding: 0 5px;
    color: $light;
  }
  .list-value {
    color: $primary;

    .category:after {
      content: ', ';
      white-space: pre;
    }
    .category:last-child:after {
      content: '';
    }
  }
  .offer-slip {
    width: 70%;
    text-align: center;
    font-size: 22px;
  }

  i.icon {
    margin-right: 5px !important;
  }
  .button {
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 100%;
    margin-top: 40px;
    height: 52px;
    span {
      width: 100%;
      #checkmark-circle {
        color: #fff;
        margin-right: 5px;
      }
    }
  }
}
.full-width {
  width: 100%;
}
</style>
