<template>
  <div class="home">
    <template v-if="mine.subscriptions">
      <h1 class="main-title">Subscribed Perks</h1>

      <separator />

      <loading v-if="mineLoading" :loading="mineLoading"> </loading>
      <div
        v-else-if="mine.subscriptions.length > 0"
        class="card-container multi-line"
      >
        <router-link
          v-for="item in mine.subscriptions"
          :key="item.id"
          tag="div"
          :to="{
            name: 'perkDetail',
            params: { title: item.slug },
            query: { id: item.id }
          }"
          class="column is-4"
        >
          <perk :data="item" />
        </router-link>
      </div>
      <div v-else>
        No subscribed perk
      </div>
    </template>
    <template v-if="mine.favorites">
      <h1 class="main-title">Favorite Perks</h1>

      <separator />

      <loading v-if="mineLoading" :loading="mineLoading"> </loading>
      <div
        v-else-if="mine.favorites.length > 0"
        class="card-container multi-line"
      >
        <router-link
          v-for="item in mine.favorites"
          :key="item.id"
          tag="div"
          :to="{
            name: 'perkDetail',
            params: { title: item.slug },
            query: { id: item.id }
          }"
          class="column is-4"
        >
          <perk :data="item" />
        </router-link>
      </div>
      <div v-else>
        No favorite perk
      </div>
    </template>
    <template v-if="mine.owning">
      <h1 class="main-title">Owning Perks</h1>

      <separator />

      <loading v-if="mineLoading" :loading="mineLoading"> </loading>
      <div v-else-if="mine.owning.length > 0" class="card-container multi-line">
        <router-link
          v-for="item in mine.owning"
          :key="item.id"
          tag="div"
          :to="{
            name: 'perkDetail',
            params: { title: item.slug },
            query: { id: item.id }
          }"
          class="column is-4"
        >
          <perk :data="item" />
        </router-link>
      </div>
      <div v-else>
        No owning perk
      </div>
    </template>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import Loading from '@/components/Loading.vue'
import Perk from '@/components/Perk.vue'
import Separator from '@/components/Separator'

export default {
  name: 'Home',
  components: {
    Perk,
    Loading,
    Separator
  },
  computed: {
    ...mapState('perk', ['mine', 'mineLoading'])
  },
  mounted() {
    this.getMine()
  },
  methods: {
    ...mapActions('perk', ['getMine'])
  }
}
</script>
<style lang="scss" scoped>
.home {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    .column {
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
    }
  }
  .loading-screen {
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
</style>
