<template>
  <div class="columns is-multiline">
    <div class="column is-full">
      <star-rating
        v-model="form.rating"
        :show-rating="false"
        :star-size="35"
      ></star-rating>
    </div>
    <div class="column is-full">
      <b-field
        label="Title"
        required
        :type="{ 'is-danger': errorMessage(rateError, 'title') }"
        :message="errorMessage(rateError, 'title')"
        placeholder="Your title"
      >
        <b-input v-model="form.title" type="text" />
      </b-field>
    </div>

    <div class="column is-full">
      <b-field
        label="Message"
        required
        :type="{ 'is-danger': errorMessage(rateError, 'comment') }"
        :message="errorMessage(rateError, 'comment')"
        placeholder="Your message..."
      >
        <b-input v-model="form.comment" type="textarea" />
      </b-field>
    </div>

    <div class="column is-half is-offset-half">
      <b-button type="is-primary" :loading="rateLoading" @click="submit">
        Send rating
      </b-button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { errorMessage } from '@/services/api'
import StarRating from 'vue-star-rating'

export default {
  name: 'RatingForm',
  components: { StarRating },
  props: {
    perkId: {
      required: true,
      type: String
    }
  },
  data() {
    return {
      form: {
        title: null,
        comment: null,
        rating: 1
      }
    }
  },
  computed: {
    ...mapState('perk', ['rateLoading', 'rateError'])
  },
  methods: {
    ...mapActions('perk', ['rate']),
    errorMessage,
    submit() {
      this.rate({ id: this.perkId, ...this.form })
    }
  }
}
</script>

<style scoped>
button {
  width: 100%;
}
</style>
