<template>
  <div id="create-perk" class="create-perk">
    <h1 class="main-title perk-detail__title">
      Create Perk
    </h1>
    <div class="logo-container">
      <hr />
      <img src="assets/images/logo-icon.png" />
      <hr />
    </div>
    <div class="columns is-mobile">
      <div class="column is-half">
        <b-field
          label="Title of Perk"
          required
          :type="{ 'is-danger': errorMessage(createPerkError, 'title') }"
          :message="errorMessage(createPerkError, 'title')"
        >
          <b-input
            v-model="form.title"
            placeholder="Title of Perk"
            validation-message="this field is required"
            required
          />
        </b-field>
      </div>
      <div class="column is-half">
        <b-field
          label="Tags of Perk"
          required
          :type="{ 'is-danger': errorMessage(createPerkError, 'tagline') }"
          :message="errorMessage(createPerkError, 'tagline')"
        >
          <el-select
            v-model="form.tagline"
            multiple
            filterable
            allow-create
            default-first-option
            placeholder="Type tag names and press enter"
            class="tag-select"
            popper-class="select-tag-dropdown"
          >
          </el-select>
        </b-field>
      </div>
    </div>
    <div class="columns is-mobile">
      <div class="column is-half">
        <b-field
          id="categories"
          label="Categories"
          required
          :type="{ 'is-danger': errorMessage(createPerkError, 'categories') }"
          :message="errorMessage(createPerkError, 'categories')"
        >
          <b-taginput
            v-model="form.categories"
            :data="categories"
            autocomplete
            :allow-new="false"
            :open-on-focus="true"
            field="label"
            placeholder="Add a category"
            rounded
            @typing="getCategories"
          >
          </b-taginput>
        </b-field>
      </div>
      <div class="column is-half">
        <b-field
          label="Web URL:"
          required
          :type="{ 'is-danger': errorMessage(createPerkError, 'website_url') }"
          :message="errorMessage(createPerkError, 'website_url')"
        >
          <b-input
            v-model="form.website_url"
            placeholder="Web URL with http:// or https://"
            required
            validation-message="this field is required"
          />
        </b-field>
      </div>
    </div>
    <div class="columns is-mobile">
      <div class="column is-half">
        <b-field
          label="Email to Contact"
          required
          :type="{
            'is-danger': errorMessage(createPerkError, 'contact_email_address')
          }"
          :message="errorMessage(createPerkError, 'contact_email_address')"
        >
          <b-input
            v-model="form.contact_email_address"
            type="email"
            placeholder="Email"
            required
            validation-message="this field is required"
          />
        </b-field>
      </div>
      <div v-if="!isPublished()" class="column is-half">
        <b-field
          label="Valid for"
          required
          :type="{ 'is-danger': errorMessage(createPerkError, 'expires_in') }"
          :message="errorMessage(createPerkError, 'expires_in')"
        >
          <b-select
            v-model="form.expires_in"
            placeholder="Please select the duration of the perk (in months)"
          >
            <option v-for="counter in 12" :key="counter" :value="counter">
              {{ counter }} months
            </option>
          </b-select>
        </b-field>
      </div>
    </div>
    <div class="editor-container">
      <b-field
        label="Description"
        required
        :type="{ 'is-danger': errorMessage(createPerkError, 'description') }"
        :message="errorMessage(createPerkError, 'description')"
      >
        <tinymce-editor
          v-model="form.description"
          :init="tinyMceConfig"
        ></tinymce-editor>
      </b-field>
    </div>

    <div class="editor-container">
      <b-field
        label="Subscription conditions"
        required
        :type="{
          'is-danger': errorMessage(createPerkError, 'subscription_conditions')
        }"
        :message="errorMessage(createPerkError, 'subscription_conditions')"
      >
        <tinymce-editor
          v-model="form.subscription_conditions"
          :init="tinyMceConfig"
        ></tinymce-editor>
      </b-field>
    </div>

    <div class="columns is-mobile">
      <div class="column is-3">
        <b-field
          label="Offer resume"
          required
          :type="{ 'is-danger': errorMessage(createPerkError, 'offer') }"
          :message="errorMessage(createPerkError, 'offer')"
        >
          <b-input
            v-model="form.offer"
            validation-message="This field is required"
            required
          />
        </b-field>
      </div>
      <div class="column is-9 switch">
        <b-switch v-model="form.publish" required>Publish perk</b-switch>
      </div>
    </div>
    <div v-if="isAdmin" class="column is-3">
      <b-field
        label="Company"
        required
        :type="{ 'is-danger': errorMessage(createPerkError, 'author') }"
        :message="errorMessage(createPerkError, 'author')"
      >
        <b-select
          v-model="form.author"
          placeholder="Select a company"
          validation-message="This field is required"
          required
        >
          <option
            v-for="option in companies"
            :key="option.id"
            :value="option.id"
          >
            {{ option.name }}
          </option>
        </b-select>
      </b-field>
    </div>

    <div class="submit-button-container">
      <b-button
        size="is-large"
        class="column is-3 is-light is-pulled-right"
        @click="$router.go(-1)"
      >
        Cancel
      </b-button>
      <b-button
        size="is-large"
        class="column is-3 is-success is-pulled-right"
        @click="submit"
      >
        {{ submitLabel }}
      </b-button>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions, mapGetters } from 'vuex'
import Editor from '@tinymce/tinymce-vue'
import { errorMessage } from '@/services/api'
import router from '@/router'
export default {
  components: {
    'tinymce-editor': Editor
  },
  data() {
    return {
      tinyMceConfig: {},
      form: {
        title: '',
        tagline: '',
        categories: [],
        website_url: '',
        contact_email_address: '',
        expires_in: '',
        description: '',
        subscription_conditions: '',
        offer: '',
        publish: false,
        author: ''
      },
      submitLabel: 'Create'
    }
  },
  computed: {
    ...mapState('createPerk', [
      'createPerkLoading',
      'createPerkSuccess',
      'createPerkError',
      'categories',
      'categoriesLoading',
      'createdPerk'
    ]),
    ...mapState('company', ['companies']),
    ...mapState('perk', ['perk']),
    ...mapState('auth', ['user']),
    ...mapGetters('auth', ['isAdmin', 'connectedUser'])
  },
  created() {
    this.tinyMceConfig = {
      min_height: 400,
      plugins: ['table, code, image, link, lists, autoresize'],
      toolbar: [
        'undo redo | styleselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | fontsizeselect fontselect | blockquote',
        'image | link | table tabledelete | tableprops tablerowprops tablecellprops | tableinsertrowbefore tableinsertrowafter tabledeleterow | tableinsertcolbefore tableinsertcolafter tabledeletecol | code'
      ],
      font_formats:
        'Arial=arial,helvetica,sans-serif; Times New Roman=times new roman,times; Raleway=Raleway,sans-serif;'
    }
  },
  mounted() {
    this.getCategories()
    if (this.$route.params.perkId) {
      this.getPerk(this.$route.params.perkId)
    }
    if (this.isEdit()) {
      this.submitLabel = 'Update'
      this.form = {
        ...this.form,
        ...this.perk,
        tagline: this.perk.tagline.split(' '),
        publish: this.isPublished(),
        author: this.perk.author.id
      }
    }
    if (this.isAdmin) {
      this.getCompanies()
    }
  },
  methods: {
    ...mapActions('createPerk', ['create', 'getCategories', 'update']),
    ...mapActions('perk', ['getPerk']),
    ...mapActions('company', ['get', 'getCompanies']),
    errorMessage,
    submit() {
      if (!this.isAdmin) {
        this.form.author = this.connectedUser.id
      }
      if (this.isEdit()) {
        this.update(this.form).then(val => {
          if (val) {
            this.$buefy.toast.open({
              message: 'Perk Updated correctly!',
              type: 'is-success'
            })
            router.push({ name: 'perkDetail', query: { id: this.perk.id } })
          }
        })
      } else {
        this.create(this.form).then(val => {
          if (val) {
            this.$buefy.toast.open({
              message: 'Perk Created correctly!',
              type: 'is-success'
            })
            router.push({
              name: 'perkDetail',
              query: { id: this.createdPerk.id }
            })
          }
        })
      }
    },
    isEdit() {
      return !!this.$route.params.perkId
    },
    isPublished() {
      return this.perk.status === 'published'
    },
    goBack() {
      if (this.isEdit()) {
        this.$router.push({
          name: 'perkDetail',
          params: { title: this.perk.title },
          query: { id: this.perk.id }
        })
      } else {
        this.$router.push({ name: 'home' })
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.logo-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 20px;
  hr {
    flex: 1;
  }
  img {
    height: 40px;
    padding: 0 71px;
  }
}
.editor-container {
  padding: 20px 0;
}
.switch {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.submit-button-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}
.el-select {
  width: 100%;
}
</style>
<style lang="scss">
@import '~-/_variables.scss';
.create-perk {
  .field .label {
    font-size: 18px;
    font-weight: 400;
    color: $primary;
  }
}
.editor-container .tox .tox-notification--in {
  opacity: 0;
}
.tox-notifications-container {
  display: none !important;
}
.category-select {
  .select select {
    padding: 1.5rem;
    &::after {
      top: 1.6rem;
    }
  }
  .help {
    margin-top: 1.25rem;
  }
}
.tag-select {
  .el-input__suffix {
    display: none;
  }
}
.select-tag-dropdown {
  display: none;
}
#create-perk {
  .el-input__inner {
    padding: 1.25rem;
  }
}
</style>
