<template>
  <div class="home">
    <h1 class="main-title">Perk list</h1>

    <separator />

    <loading v-if="publishedLoading" :loading="publishedLoading"> </loading>
    <div v-else-if="published.length > 0" class="card-container multi-line">
      <router-link
        v-for="item in published"
        :key="item.id"
        tag="div"
        :to="{
          name: 'perkDetail',
          params: { title: item.slug },
          query: { id: item.id }
        }"
        class="column is-4"
      >
        <perk :data="item" />
      </router-link>
    </div>
    <div v-else>
      No available perk
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import Loading from '@/components/Loading.vue'
import Perk from '@/components/Perk.vue'
import Separator from '@/components/Separator'

export default {
  name: 'Home',
  components: {
    Perk,
    Loading,
    Separator
  },
  computed: {
    ...mapState('perk', ['published', 'publishedLoading'])
  },
  mounted() {
    this.getPublished()
  },
  methods: {
    ...mapActions('perk', ['getPublished'])
  }
}
</script>
<style lang="scss" scoped>
.home {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    .column {
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
    }
  }
  .loading-screen {
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
</style>
