<template>
  <div class="tile is-ancestor">
    <stat-tile
      v-loading="statisticsLoading"
      title="clics"
      icon="EyeIcon"
      :count="perkStats.clicks"
    />
    <stat-tile
      v-loading="statisticsLoading"
      title="uses"
      icon="CheckmarkCircleIcon"
      :count="perkStats.subscriptions"
    />
    <stat-tile
      v-loading="statisticsLoading"
      title="Ratings"
      icon="ClipBoardIcon"
      :count="perkStats.ratings"
    />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import StatTile from '@/components/StatTile'
export default {
  name: 'Stats',
  components: {
    StatTile
  },
  computed: {
    ...mapState('perk', ['perkStats', 'statisticsLoading', 'statisticsError'])
  },
  mounted() {
    const perkId = this.$route.params.id
    this.getStatistics({ perkId })
  },
  methods: {
    ...mapActions('perk', ['getStatistics'])
  }
}
</script>

<style scoped lang="scss">
.is-ancestor {
  justify-content: center;
}
</style>
