<template>
  <div class="list-layout-container columns is-desktop">
    <div class="list-container column is-3">
      <admin-menu :list-items="listItems"></admin-menu>
    </div>
    <div class="list-view column is-9">
      <router-view />
    </div>
  </div>
</template>
<script>
import AdminMenu from '@/components/Menu.vue'
export default {
  components: {
    AdminMenu
  },
  data() {
    return {
      listItems: [
        {
          name: 'Users',
          link: 'usersList',
          icon: 'ion-ios-people'
        },
        {
          name: 'Perks',
          link: 'perksList',
          icon: 'ion-ios-checkmark-circle'
        }
      ]
    }
  }
}
</script>
