<template>
  <div>
    <v-header />
    <div class="container">
      <router-view />
    </div>
    <v-footer />
  </div>
</template>

<script>
import VFooter from '@/components/Footer.vue'
import VHeader from '@/components/Header.vue'
export default {
  name: 'Default',
  components: {
    VFooter,
    VHeader
  }
}
</script>
