<template>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-three-fifths is-offset-one-fifth">
            <div id="empty" class="card">
              <div class="has-text-centered pt-20">
                <img
                  src="/assets/images/logo-blue.png"
                  alt="polytechnique perks logo"
                />
              </div>
              <router-view />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Empty'
}
</script>

<style lang="scss" scoped>
@import '~-/_variables.scss';

.hero {
  background-image: url('/assets/images/background.jpg');
  background-size: cover;
}

.card {
  box-shadow: inherit;
}
</style>
