<template>
  <div class="list-layout-container columns is-desktop">
    <div class="list-container column is-3">
      <user-menu :list-items="listItems">
        <div class="p-list-item disconnect" @click="logout">
          Logout
        </div>
      </user-menu>
    </div>
    <div class="list-view column is-9">
      <router-view />
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import UserMenu from '@/components/Menu.vue'
export default {
  name: 'Me',
  components: {
    UserMenu
  },
  data() {
    return {
      listItems: [
        {
          name: 'General informations',
          link: 'profile',
          icon: 'ion-ios-contact'
        },
        {
          name: 'Security',
          link: 'security',
          icon: 'ion-ios-lock'
        },
        {
          name: 'Privacy',
          link: 'privacy',
          icon: 'ion-ios-information-circle-outline'
        }
      ]
    }
  },
  computed: {
    ...mapState('auth', ['logoutLoading'])
  },
  methods: {
    ...mapActions('auth', ['logout'])
  }
}
</script>
